.down {
  background-color: white;
  border-bottom: 5px solid #547AFF;
  padding: 10px;
  text-align: center;
}
  
.down > p {
  text-align: center;
  align-items: center;
  font-weight: bold;
}

#currnetText{
  color: #547AFF;
  font-weight: bolder;
}
